
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-w2Q {
  overflow: hidden;
  background-color: #fffbf5;
  width: 100%;
  height: 102.4rem;
  position: relative;

  .vector-bck {
    width: 82.5566rem;
    height: 84.7791rem;
    position: absolute;
    left: 97.9rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
  }
  .vector-h9z {
    vertical-align: top;
    width: 82.5566rem;
    height: 84.7791rem;
    position: absolute;
    left: 106.5rem;
    top: 0;
    object-fit: contain;
  }
  .ellipse-2-zet {
    top: 14.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 68.1rem;
    height: 68.2rem;
    position: absolute;
    left: 5.8rem;
  }
  .ellipse-1-6C8 {
    width: 174.7981rem;
    height: 171.1321rem;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: contain;
    vertical-align: top;
  }
  .knowledge-pana-1-QTi {
    vertical-align: top;
    width: 69.3rem;
    height: 69.3rem;
    position: absolute;
    left: 11.3rem;
    top: 21.6rem;
    object-fit: contain;
  }
  .star-stroke-long-tNt {
    width: 6.1rem;
    height: 7.7545rem;
    position: absolute;
    left: 1.8rem;
    top: 17.7rem;
    object-fit: contain;
    vertical-align: top;
  }
  .star-stroke-long-Nor {
    width: 2.5959rem;
    height: 3.3rem;
    position: absolute;
    left: 136.4rem;
    top: 72.8rem;
    object-fit: contain;
    vertical-align: top;
  }
  .star-filled-long-ryv {
    height: 3.9rem;
    position: absolute;
    left: 7rem;
    top: 16.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.0643rem;
  }
  .about-me-kpQ {
    font-weight: 700;
    color: #674188;
    white-space: nowrap;
    width: 29.6rem;
    position: absolute;
    left: 90rem;
    top: 18rem;
    font-size: 5.8rem;
    height: 7.1rem;
    text-align: center;
    line-height: 1.2175;
    font-family: Montserrat, 'Source Sans Pro';
  }
  .im-a-student-currently-pursuing-btech-artificial-intelligence-and-data-science-in-crescent-university-P6g {
    top: 31.8rem;
    text-align: center;
    font-size: 5.8rem;
    line-height: 1.2175;
    width: 54.1rem;
    height: 49.5rem;
    position: absolute;
    left: 77.05rem;
    font-weight: 400;
    color: #000000;
    font-family: Montserrat, 'Source Sans Pro';
  }
  .star-filled-long-Z9a {
    object-fit: contain;
    vertical-align: top;
    width: 9.1143rem;
    height: 11.6rem;
    position: absolute;
    left: 129.9rem;
    top: 72.9rem;
  }
}
